# These are specific configuration settings required for travis-ci
# see http://travis-ci.org/evendis/mandrill-rails
language: ruby
rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - rbx-18mode
  - rbx-19mode
  - jruby-18mode
  - jruby-19mode